#!/usr/bin/make -f

#export DH_VERBOSE=1

export DEB_LDFLAGS_MAINT_APPEND := -Wl,--as-needed

%:
	dh $@ --parallel

override_dh_install:
	dh_install --fail-missing

override_dh_strip:
	dh_strip --dbg-package=ebook-tools-dbg

.PHONY: override_dh_auto_test
